
  body{
    background-color:#D6E5FA;
  }

  hr{

    border-style: none;
    border-top:dotted;
    border-color:#68A7AD;
    border-width: 5px;
    width: 250px;
  }

  h1{
    color: #66BFBF;
  }
h2{
  color: #66BFBF;
}
h3
{
  color: #66BFBF;
}
